[freebox]
type = sftp
host = FREEBOX_WG_IP_PLACEHOLDER
user = FREEBOX_SFTP_USER_PLACEHOLDER
port = FREEBOX_SFTP_PORT_PLACEHOLDER
key_file = /root/.ssh/id_rsa
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum
known_hosts_file = /config/rclone/known_hosts
chunk_size = 32M
concurrency = 4
disable_hashcheck = false
